<article class="listing">
    <div class="id">
      <span>Codigo: </span>{{restaurant.id}}
    </div>
    <div class="name">
      <span>Nombre: </span>{{restaurant.name}}
    </div>
    <div class="city">
      <span>Ciudad: </span>{{restaurant.city}}
    </div>
    <div class="phone">
      <span>Telefono: </span>{{restaurant.phone}}
    </div>
  </article>
{{yield}}
